<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/fevicon.png" type="image/x-icon">
  <title>Feedback Page</title>

  <%- include('layouts/styles') %>

</head>

<body class="sub_page">
  <div class="hero_area">
    <div class="hero_bg_box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <%- include('layouts/navbar') %>

    <!-- end header section -->

  </div>

  <!-- feedback section -->
  
  <section id="feed">
 
    <div class="container mt-3">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="my-div">
            <!-- Your content goes here -->

            <h3>Feedback Faculty</h3>


            <div class="card my-3">
              <div class="card-body">
                <center><span>Student Details</span></center>
                <span>ID: <strong><%= _id %></strong></span><br>
                <span>Username: <strong><%= username %></strong></span>
              </div>
            </div>


            <p>Select your faculty and give review!</p>

            <div class="form-floating">
              <select name="f_id" class="form-select mb-3 w-100">
                
                <% faculties.forEach(function(item) { %>
                  <option value= <%= item._id %> ><%= item.name %></option>
                  <% }); %>

              </select>
            </div>
            

            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
              <label for="floatingTextarea2">Comments</label>
            </div>



            <button type="button" class="btn btn-primary my-3 d-flex w-100 justify-content-center">Submit Review</button>

            
          </div>
        </div>
      </div>
    </div>




</section>

  <!--  section ends -->

  <!-- footer section -->
  <%- include('layouts/footer') %>

  <!-- footer section -->

  
</body>

</html>