<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/fevicon.png" type="image/x-icon">
  <title>Feedback Page</title>

  <%- include('layouts/styles') %>

</head>

<body class="sub_page">
  <div class="hero_area">
    <div class="hero_bg_box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <%- include('layouts/navbar') %>

    <!-- end header section -->

  </div>

  <!-- feedback section -->
  
    <H2><Body bgcolor="Cyan"><center><FONT Size="10"><FONT Color="#2c7873"> FEEDBACK FORM </FONT></FONT></center></H2>

<div><center>
<h3>Student Details</h3>
<h4>ID: <%= _id %></h4>
<h5>UserName: <%= username %></h5>
</center>
</div>
<form action="/giveFeedback" method="POST">
    <center>
    <TEXTAREA Rows=6 Cols= 50 name="feedback_text">
        Give Your Feedback  
    </TEXTAREA>


    <P>Give your Rating</P>
    <div class="rating">
        <input type="radio" name="rating" value="5">5

        <input type="radio" name="rating" value="4">4

        <input type="radio" name="rating" value="3">3

        <input type="radio" name="rating" value="2">2

        <input type="radio" name="rating" value="1">1

      </div>

</center>

<center><br><br>
  
<div class="btn-box">
  <button type="submit" class="btn4">Submit</button>
</div>
</form>

</center>

<br>


  <!--  section ends -->

  <!-- footer section -->
  <%- include('layouts/footer') %>

  <!-- footer section -->

  
</body>

</html>